
*{
    box-sizing: border-box;
}

header {
    display: flex;
    text-align: center;
    padding: 1vw;
    position: fixed;
    background-color: #EAC926;
    width: 100vw;
    z-index: 10;
    font-size: 1.2rem;
    font-weight: bold;
    height: 100px;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}



#burger_menu {
    text-align: center;
    background-color: #1259c3;
    display: inline;
    color: #FFF;


}

#icono_mercadolibre {
    width: 40%;
    display: inline;
}


.navlinks{
    justify-content: center;
    display: none;
    list-style: none;
}


.navlinks li{
    padding: 1vw
}

.barrabusqueda{
    display: block;
    margin: 1vw;
}

.busquedafield{
    display: inline;
    border-radius: 3px;
    border-style: none;
}

.textBarraBusqueda{
    display: inline;
}

@media(min-width:600px) {
   
    #icono_mercadolibre {
        width: 10%;
        display: inline;
    }

    nav{
        display: flex;
        flex-wrap: nowrap; justify-content: center;
    }


    .navlinks{
        display: flex;
    }
    header{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    #centerburgercontainer{
        margin-top: auto;
        margin-bottom: auto;
        
    }
    .compraencoutastext{
        margin: 1vw;
    }
    
}