form{
    margin-top: 5vw;
}
.formularioRegister input{
    width: 50%;
    border-radius: 2px;
    border-style: none;
}

.formularioRegister{
padding: 10px;
font-size: 2rem;
}
.botonesContainer button{
    border-radius: 5px;border: solid 1px;padding: 0.1vw;
}
.botonesContainer button:hover{
    background-color: #3359f0;
    color: white;
}

footer {
    width: 100%;
}
.footer_titulo {
    font-size: 18px;
    text-align: center;

}

.footer_detalle {
    font-size: 12px;
    text-align: center;
}

.iconos_footer {
    text-align: center;
}

@media(min-width:600px) {
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footerElement{
        width: 30%;
    }


    .copirigth{
        width: 100%;
        margin: 1%;
    }
}