.formularioRegister{
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5vh;
}
.formularioRegister label{
    width: 100%;
    
}
.formularioRegister p{
    width: 100%;
    padding: 1vh;
}
.categoriasDiv label{
    width: 10%;
}


.perfilUsuarioDiv label{
    width: 20%;
}


.botonesContainer{
    width: 100%;
}


.formlabel{
    margin: 1vh;
}


.textInput{
    width: 50vw;
    margin: 1vh;
    width: 50%;
    border-radius: 3px;
    border-style: none;
}

.iconos_footer:hover{
    color: blue;
}

.categoriasDiv p {

}


h4{
    width: 100vw;    margin: 1vh;

}


h1{
    width: 100vw;    margin: 1vh;


}
.botonesContainer button{
    border-radius: 5px;border: solid 1px;padding: 0.1vw;
}

.botonesContainer button:hover{
    background-color: #3359f0;
    color: white;
}


.footer_titulo {
    font-size: 18px;
    text-align: center;

}

.footer_detalle {
    font-size: 12px;
    text-align: center;
}

.iconos_footer {
    text-align: center;
}


@media(min-width:600px) {
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footerElement{
        width: 30%;
    }


    .copirigth{
        width: 100%;
        margin: 1%;
    }
    .textInput{
     
        width: 30%;
     
    }
}